* {
    box-sizing: border-box;
}

body {
    background-color: #03123D;
}

.header {
    height: 76px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.font-primary {
    color: #fff;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.starwarslogo {
    width: 72px;
    height: 36px;
}

.accordian {
    display: flex;
    width: 223px;
    max-height: 576px;
    padding: 10px 14px 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.accordian-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}

.accordian-item-primary {
    padding: 8px 12px;
}

.accordian-item-primary:hover {
    background-color: rgba(249, 250, 253, 0.30);
}

.accordian-item-secondary {
    padding: 8px 12px 8px 28px;
}

.accordian-item-highlighted {
    background-color: #CB1A80;
}

.accordian-item-highlighted:hover {
    background-color: #CB1A80;
}

.main-content-default-view {
    display: flex;
    width: 695px;
    height: 386px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    border: 2px solid #E0E6ED;
    background: #fff;
    box-shadow: 0px 7px 34px 0px rgba(23, 23, 37, 0.25);
    margin-top: 40px;
}

.welcome-to-star-wars {
    color: #3B3F5C;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.14px;
    width: 50%;
    text-align: left;
}

.welcome-to-star-wars-description {
    color: #3B3F5C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.14px;
    opacity: 0.8;
}

.capitalize-first-letter::first-letter {
    text-transform: uppercase;
}

.grid-container {
    display: flex;
    padding: 10px 20px 20px 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}

.grid-container-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.grid-item:hover {
    scale: 1.01;
}

.grid-item-title-container {
    padding: 12px 12px 12px 16px;
    margin-top: 4px;
    border-radius: 8px;
    background: rgba(249, 250, 253, 0.20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.list-cell {
    height: 40px;
    padding: 0px 16px;
}

.list-row:hover {
    background-color: rgb(77 88 117 / 21%);
}

.sidebar-item-values {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  #f1f1f5;
    background: #fafafb;
    color: var(--Text-Black, #252C32);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.sidebar-close-btn {
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 8px;
    background: #CB1A80;
    cursor: pointer;
}

.dropdown {
    display: flex;
    width: 172px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #f1f1f5;
    background: #fff;
    position: absolute;
    z-index: 2;
}

.dropdown-text {
    color:  #252c32;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.dropdown-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 8px;
    width: 100%;
}

.dropdown-items:hover {
    background-color: #eee;
    border-radius: 4px;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.search-input {
    background: none;
    border: none;
    color: #fff;
    outline: none;
}

.search-input::placeholder {
    color: #fff;
}