* {
    box-sizing: border-box;
}

body {
    background-color: #03123D;
}

.header {
    height: 56px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.font-primary {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.starwarslogo {
    width: 72px;
    height: 36px;
}

.accordian {
    display: flex;
    width: 223px;
    max-height: 576px;
    padding: 10px 14px 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.accordian-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}

.accordian-item-primary {
    padding: 8px 12px;
}

.accordian-item-secondary {
    padding: 8px 12px 8px 28px;
}

.accordian-item-highlighted {
    background-color: #CB1A80;
}

.main-content {

}

.main-content-default-view {
    display: flex;
    width: 695px;
    height: 386px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    border: 2px solid #E0E6ED;
    background: #fff;
    box-shadow: 0px 7px 34px 0px rgba(23, 23, 37, 0.25);
    margin-top: 40px;
}

.welcome-to-star-wars {
    color: #3B3F5C;
    font-family: "Open Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.14px;
    width: 50%;
    text-align: left;
}

.welcome-to-star-wars-description {
    color: #3B3F5C;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.14px;
    opacity: 0.8;
}

.capitalize-first-letter::first-letter {
    text-transform: uppercase;
}

.grid-container {
    display: flex;
    padding: 10px 20px 20px 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}

.grid-container-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.grid-item-title-container {
    padding: 12px 12px 12px 16px;
    margin-top: 4px;
    border-radius: 8px;
    background: rgba(249, 250, 253, 0.20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.list-cell {
    height: 40px;
    padding: 0px 16px;
}